* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    margin: auto;
    z-index: 1;
    width: 100%;
    height: 25px;
    background-color: rgb(245, 163, 163);
    border-top: 5px solid rgb(99, 11, 5);
    border-bottom: 5px solid rgb(99, 11, 5);
    top: 0;
}

.externallinks {
    text-align: right;
    color: white;
}

body {
    background-color: antiquewhite;
}

.h1 {
    font-size: 32;
}

form {
    display:block;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: darkgoldenrod;
    text-align: center;
} 
